<form>
    <p>
        {{{localize "ATDC.dialog.harm.description"}}}
    </p>
    <form class="flexcol">
        <div class="form-group">
            <input type="checkbox" id="baseDie" name="baseDie" checked>
            <label for="baseDie">
                {{{localize "ATDC.dialog.harm.baseDie"}}}
            </label>
        </div>
        <div class="form-group">
            <input type="checkbox" id="stressDie" name="stressDie">
            <label for="stressDie">
                {{{localize "ATDC.dialog.harm.stressDieMessage"}}} <b style="color: {{riskDieColor}}">{{{localize "ATDC.dialog.harm.stressDieWords"}}}</b>
            </label>
        </div>
        <hr>
        <div>
            <input type="radio" id="namelessPawn" name="rollBonus" value="3">
            <label for="namelessPawn">
                {{{localize "ATDC.dialog.harm.namelessPawn"}}}
            </label>
        </div>
        <div>
            <input type="radio" id="namelessPawnLeader" name="rollBonus" value="2">
            <label for="namelessPawnLeader">
                {{{localize "ATDC.dialog.harm.namelessPawnLeader"}}}
            </label>
        </div>
        <div>
            <input type="radio" id="namedMortalPawn" name="rollBonus" value="0">
            <label for="namedMortalPawn">
                {{{localize "ATDC.dialog.harm.namedMortalPawn"}}}
            </label>
        </div>
        <div>
            <input type="radio" id="supernatural" name="rollBonus" value="-1">
            <label for="supernatural">
                {{{localize "ATDC.dialog.harm.supernatural"}}}
            </label>
        </div>
    </form>
    </br>
</form>