<form>
    <p>
        {{{localize "ATDC.dialog.cover.description"}}}
    </p>
    <form class="flexcol">
        <div class="form-group">
            <input type="checkbox" id="baseDie" name="baseDie" checked>
            <label for="baseDie">
                {{{localize "ATDC.dialog.cover.baseDie"}}}
            </label>
        </div>
        <div class="form-group">
            <input type="checkbox" id="expertiseDie" name="expertiseDie" {{#if expertiseUsed}}disabled{{/if}}>
            <label for="expertiseDie">
                {{{localize "ATDC.dialog.cover  .expertiseDie"}}}
            </label>
        </div>
        <div class="form-group">
            <input type="checkbox" id="stressDie" name="stressDie">
            <label for="stressDie">
                {{{localize "ATDC.dialog.cover.stressDieMessage"}}} <b style="color: {{riskDieColor}}">{{{localize "ATDC.dialog.cover.stressDieWords"}}}</b>
            </label>
        </div>
    </form>
    </br>
</form>