<form>
    <p>
        {{{localize "ATDC.dialog.takeThemOut.description"}}}
    </p>
    <form class="flexcol">
        <div class="form-group">
            <input type="checkbox" id="baseDie" name="baseDie" checked>
            <label for="baseDie">
                {{{localize "ATDC.dialog.takeThemOut.baseDie"}}}
            </label>
        </div>
        <div class="form-group">
            <input type="checkbox" id="expertiseDie" name="expertiseDie" {{#if expertiseUsed}}disabled{{/if}}>
            <label for="expertiseDie">
                {{{localize "ATDC.dialog.takeThemOut.expertiseDie"}}}
            </label>
        </div>
        <div class="form-group">
            <input type="checkbox" id="bonusDie" name="bonusDie">
            <label for="bonusDie">
                {{{localize "ATDC.dialog.takeThemOut.bonusDieMessage"}}} <b style="color: {{bonusDieColor}}">{{{localize "ATDC.dialog.takeThemOut.bonusDieWords"}}}</b>
            </label>
        </div>
        <div class="form-group">
            <input type="checkbox" id="stressDie" name="stressDie">
            <label for="stressDie">
                {{{localize "ATDC.dialog.takeThemOut.stressDieMessage"}}} <b style="color: {{riskDieColor}}">{{{localize "ATDC.dialog.takeThemOut.stressDieWords"}}}</b>
            </label>
        </div>
        </br>
        <p>
            <b style="font-size: 20px;color: {{takeThemOutDieColor}}">
                {{{localize "ATDC.dialog.takeThemOut.riskDie.description"}}}
            </b>
        </p>
        <div class="form-group">
            <input type="checkbox" id="threatHarmDie" name="threatHarmDie">
            <label for="threatHarmDie">
                {{{localize "ATDC.dialog.takeThemOut.riskDie.threatHarmDie"}}}
            </label>
        </div>
        <div class="form-group">
            <input type="checkbox" id="threatSupernaturalDie" name="threatSupernaturalDie">
            <label for="threatSupernaturalDie">
                {{{localize "ATDC.dialog.takeThemOut.riskDie.threatSupernaturalDie"}}}
            </label>
        </div>
        <div class="form-group">
            <input type="checkbox" id="outnumberedDie" name="outnumberedDie">
            <label for="outnumberedDie">
                {{{localize "ATDC.dialog.takeThemOut.riskDie.outnumberedDie"}}}
            </label>
        </div>
        <div class="form-group">
            <input type="checkbox" id="weaponDie" name="weaponDie">
            <label for="weaponDie">
                {{{localize "ATDC.dialog.takeThemOut.riskDie.weaponDie"}}}
            </label>
        </div>
        <div class="form-group">
            <input type="checkbox" id="SupernaturalPowersDie1" name="SupernaturalPowersDie1">
            <input type="checkbox" id="SupernaturalPowersDie2" name="SupernaturalPowersDie2">
            <input type="checkbox" id="SupernaturalPowersDie3" name="SupernaturalPowersDie3">
            <input type="checkbox" id="SupernaturalPowersDie4" name="SupernaturalPowersDie4">
            <label for="SupernaturalPowersDie1">
                {{{localize "ATDC.dialog.takeThemOut.riskDie.SupernaturalPowersDie"}}}
            </label>
        </div>
        <p>
            <i>
                {{{localize "ATDC.dialog.takeThemOut.riskDie.note"}}}
            </i>
        </p>
    </form>
    </br>
</form>