<section class="heat-panel" {{#if @root.user.isGM}}editable{{/if}}>
    <div class="heat">
        <div class="clock on-click" style="--areas: {{max}}; --filled: {{currentHeat}}">
            {{#each spokes}}
                <div class="spoke" style="--index: {{ this }}"></div>
            {{/each}}
        </div>
        {{#if heatLevel}}
            <div class="name-with flexcol">
                <span class="on-click-clear">{{heatTitle}}</span>
                <span class="sub-header">{{heatLevel}}</span>
            </div>
        {{else}}
            <div class="name flexcol">
                <span class="on-click-clear">{{heatTitle}}</span>
            </div>
        {{/if}}
    </div>
</section>