<form class="{{cssClass}} {{actor.type}} npc flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "ATDC.npc.name.placeholder"}}"/></h1>
      
      <div class="flexcol">
        <div class="flexrow">
            <h3><label for="skills">{{localize "ATDC.npc.skills.label"}}</label></h3>
            <input class="flex3" name="system.skills" id="skills" type="text" value="{{system.skills}}"/>
        </div>
        <div class="flexrow">
            <h3><label for="glance">{{localize "ATDC.npc.glance.label"}}</label></h3>
            <input class="flex3" name="system.glance" id="glance" type="text" value="{{system.glance}}"/>
        </div>
        <div class="flexrow">
            <h3><label for="motivation">{{localize "ATDC.npc.motivation.label"}}</label></h3>
            <input class="flex3" name="system.motivation" id="motivation" type="text" value="{{system.motivation}}"/>
        </div>
        <div class="resources grid grid-2col">
          <div class="stress flexrow">
            <h3>{{localize "ATDC.actor.stress.title"}}</h3>
            <div class="controls flexcol">
              <a class="clickable" data-roll-type="npc-stress-increase"><i class="fa-solid fa-caret-up"></i></a>
              <a class="clickable" data-roll-type="npc-stress-decrease"><i class="fa-solid fa-caret-down"></i></a>
            </div>
            <div class="flexrow">
              {{#each system.stress.states as |state count|}}
                <input class="clickable" type="checkbox" data-pos="{{count}}" data-roll-type="toggle-stress" {{#if state}}checked{{/if}} >
              {{/each}}
            </div>
          </div>
          <div class="type flexrow">
            <h3>Type</h3>
            <select class="npc-type-change" name="system.type.index" data-roll-type="toggle-stress" data-npc-type="nameless" data-type="String">
              {{#select system.type.index}}
                {{#each system.type.options as |option key|}}
                  <option value="{{key}}">{{localize option}}</option>
                {{/each}}
              {{/select}}
            </select>
          </div>
        </div>

  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="main">Main</a>
    <a class="item" data-tab="notes">Notes</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!--  Tab --}}
    <div class="tab main" data-group="primary" data-tab="main">
      Things go here.
    </div>

    {{!--  Tab --}}
    <div class="tab notes" data-group="primary" data-tab="notes">
      {{!-- Notes --}}
      <h2>{{localize "ATDC.npc.notes.label"}}</h2>
      <div class="notes">
        {{editor system.notes target="system.notes" button=true engine="prosemirror" collaborate=false}}
      </div>
    </div>

  </section>

</form>