<form>
    <p style="font-size: 1.5em"><b>{{{moveName}}}</b> {{localize "ATDC.actor.actions.chat.result.label"}}</p>
    <p>{{{diceOutput}}}</p>
    <p>{{{maxDieMessage}}}</p>
    {{{stressMessage}}}
    {{{harmMessage}}}
    <!--
    <br>
    <button class="click-me">Click Me!</button>
    -->
</form>