<div class="action" data-owner-id="{{ownerId}}">
    {{log "LOG" ownerId}}
    <p style="font-size: 1.5em"><b>{{{moveName}}}</b> {{localize "ATDC.actor.actions.chat.result.label"}}</p>
    <p>{{{diceOutput}}}</p>
    <p>{{{maxDieMessage}}}</p>
    {{{stressMessage}}}
    {{{harmMessage}}}
    {{#if showStressOnSix}}
        <br>
        <button type="button" class="roll-stress"><i class="fa-regular fa-dice"></i>{{{stressOnSixMessage}}}</button>
    {{/if}}
</div>