<div class="action" data-owner-id="{{ownerId}}">
    <p style="font-size: 1.5em"><b>{{{moveName}}}</b> {{localize "ATDC.actor.actions.chat.result.label"}}</p>
    <p>{{{diceOutput}}}</p>
    <b>{{localize "ATDC.actor.actions.chat.result.harm.modifier.label"}}</b> {{{bonusValue}}}
    </br>
    <b>{{localize "ATDC.actor.actions.chat.result.harm.final.label"}}</b> {{{maxDieNumber}}}
    <hr>
    {{{maxDieMessage}}}
    {{{stressMessage}}}
    {{#if showStressOnSix}}
        <br>
        <button type="button" class="roll-stress"><i class="fa-regular fa-dice"></i>{{{stressOnSixMessage}}}</button>
    {{/if}}
</div>