<div class="heat">
    <h3>{{{name}}} has increased from {{{tempCH}}} to {{{currentHeat}}}</h3>
    <p><b>The Conspiracy Threat Level</b> is:</p> 
    <span class="threat-level {{{threatColor}}}">{{{conspiracyThreatLevel}}}</span>
<div>