<div>
    {{{stressValMessage}}}
    <p>
        <span style="font-size: 1.5em;">
            <b>{{localize "ATDC.actor.actions.stress.label"}}</b> {{localize "ATDC.actor.actions.chat.result.label"}} 
        </span> {{{diceOutput}}}
    </p>
    <hr>
    <span style="font-size: 1.2em;">{{{stressMessage}}}</span>
</div>